@root-font-size: 22pt;

html {
  font-size: @root-font-size;
}

body {
  font-family: 'Noto Sans Japanese', sans-serif;
  word-break: keep-all;
}

.remark-slide-content {
   font-size: @root-font-size;
   padding: 1em 2em 1em 2em;
}

.remark-code {
  font-size: 0.5em;
  font-family: 'mplus-1m-regular';
 }

.remark-inline-code {
  font-family: 'mplus-1m-regular';
}

.remark-slide-number {
  font-size: 0.7rem;
  padding: 0 !important;
}

.remark-notes-common() {
  word-break: break-all;
  font-size: 0.6rem;
}

.remark-notes {
  .remark-notes-common;
}

.remark-notes-preview {
  .remark-notes-common;
  opacity: 0.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  white-space: nowrap;
  margin: 0.5rem 0;
}

code {
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  padding: 6px 13px;
  border-style: solid;
  border-width: 1px;
}

li {
  margin-bottom: 0.5em;
}
